PORT=3000
HOST=0.0.0.0
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD_FILE=./secrets/db_password.txt
DATABASE=splitflow
PASSWORD_PEPPER_FILE=./secrets/password_pepper.txt
NODE_ENV=dev
SESSION_SECRET_FILE=./secrets/session_secret.txt
GMAIL_APP_EMAIL=replace-me@example.com
GMAIL_APP_PASSWORD_FILE=./secrets/gmail_app_password.txt
